@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Appp Deplyment GitHub</h1>
    <h3>@ViewData["saludo"]</h3>
    <img src="~/images/callofduty.jpeg" width="100" />
    <ul class="list-group">
        @foreach(int num in Model)
        {
            <li class="list-group-item">@num</li>
        }
    </ul>
</div>
