@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Appp Deplyment GitHub</h1>
    <h3 class="text-danger">@ViewData["saludo"]</h3>
    <img src="~/images/callofduty2.jpeg" width="100" />
    <ul class="list-group">
        @foreach(int num in Model)
        {
            <li class="list-group-item">Num: @num</li>
        }
    </ul>
</div>
